<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1521193089946-7aa29d1fe776?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
          }
    </style>
</head>
<body>
   <center> <h1> Add Finance </h1>
    <br><br>
    <form action="{% url 'savefinance' %}" method="POST">
        {% csrf_token %}
        Event Name *
        <input type="text" name="event" required>
        <br> <br>
        Event Cost *
        <input type="number" name="cost" required>
        <br><br>
        <input type="submit">
    </form>
</body>
</html>